# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable fancy-new-file': 'fancy-new-file:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Fancy New File'
      'command': 'fancy-new-file:toggle'
    ]
  }
]
